@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f8f9fa;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.otf");
}

.satoshi-bold {
  font-family: Satoshi-Bold;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.otf");
}

.satoshi-regular {
  font-family: Satoshi-Regular;
}
